@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Avenir-Mini',sans-serif;
}

.load-image{
    transition: opacity-animation 2s;
}

@keyframes opacity-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes translate-animation {
    0%{
        opacity: 0;
        transform: translateX(+100%);
    }
    50%{
        opacity: 0;
    }
    99%{
      opacity: 1;
    }
    100%{
        
        transform: translateX(0%);
    }
}