@keyframes opacity-animation {
    0%{
        opacity: 0;
    }
    
    30% {
        opacity: 0;
    }

    55%{
        opacity: 1;
    }
}

.profile-active{
    position: absolute;
    visibility: hidden;
    background: #131313;
    width: 240px;
    right: 0;
    top: -150px;
    padding: 0 15px;
    border: 1.5px solid rgba(151, 151, 151, 0.397);
    border-radius: 4px;
    margin-top: 10px;
}

.profile:hover .profile-active{
    visibility: visible;
    transition-duration: 80ms;
    transform: translateY(120px);
}

.profile:hover .profile-active header{
    animation: opacity-animation 1s;
}

.animation-opacity{
    animation: opacity-animation 1.5s;
}

.animation-translate{
    opacity: 0;
    animation: translate-animation 500ms;
    opacity: 1;
}

.profile:hover .title{
    display: block;
}

.image-profile:hover .border-profile-image{
    border: 4px solid rgba(255, 255, 255, 0.747);
    
}

/*----------------------------------------Navbar----------------------------------------*/

.link a span{
    position: relative;
}

.link a span::after{
    content: "";
    display:block;
    position: absolute;
    height: 2px;
    top: 13px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}

.link:hover span::after{
    animation: showunderline 300ms forwards ease-out;
}

@keyframes showunderline {
    0%{
        background: #fff;
        width: 0%;
        opacity: 0%; 
    }
    
    20%{
        background: #fff;
        width: 0%;
        opacity: 0%;
    }

    80%{
        background: #fff;
        width: 100%;
        opacity: 60%;
    }
    100%{
        background: #fff;
        width: 100%;
        opacity: 100%;
    }
}
