.movie-slider .swiper-slide {
  margin: 0 1px;
}

.banner-slider .pagination {
  padding: 28px 100px;
}

.banner-slider .swiper-pagination-bullet,
.banner-slider .swiper-pagination-bullet .swiper-pagination-bullet-active {
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #969eab;
  padding: 2px;
  cursor: pointer;
  margin: 0 5px !important;
}

.banner-slider .swiper-pagination-bullet-active {
  background-color: white;
  cursor: auto;
}

.banner-slider .swiper-slide-next,
.banner-slider .swiper-slide-prev,
.movie-slider .swiper-slide-prev {
  opacity: 0.3;
}

.swiper-button-next:hover .arrow-next, .swiper-button-prev:hover > .arrow-prev{
  opacity:1;
}

.banner-slider .swiper-slide swiper-slide-active {
  width: 100%;
}

.banner-slider .swiper {
  overflow: initial;
}

.movie-slider .swiper {
  overflow: visible;
}

.swiper-slide {
  width: 20%;
  opacity: 0.5;
}

.swiper-button-disabled {
  visibility: hidden;
}

.swiper-slide .logo-slider {
  opacity: 0;
  transform: translateX(30px);
  transition: transform 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 150ms;
}

.swiper-slide-active .logo-slider {
  opacity: 1;
  transform: translateX(0px);
  transition: transform 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 150ms,
    opacity 700ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 150ms;
}

.swiper-slide.swiper-slide-visible{
  opacity: 1;
}
