@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Avenir-Mini',sans-serif;
}

.load-image{
    transition: opacity-animation 2s;
}

@keyframes opacity-animation {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}